.DropdownItem {
    padding: 7px 10px;
    user-select: none;
    cursor: pointer;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
}

.DropdownItem_active {
    border-color: #4971FF;
}

.DropdownItem:hover {
    background: #E4EAFF;
}

.dropdown_user_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    flex-grow: 0;
    flex-shrink: 0;
    background-color: #4971FF;
    border-radius: 50%;
    font-size: 10px;
    color: #ffffff;
    margin-right: 10px;
}

.dropdown_user_text {
    display: flex;
    align-items: center;
    line-height: 16px;
}