.Select {
    width: 360px;
    position: relative;
    font-size: 13px;
}

.dropdown_value_section {
    cursor: pointer;
    padding: 0px 10px;
    height: 32px;
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 7px;
    border: 1px solid #7999ff;
    user-select: none;
    background-color: #ffffff;
}

.dropdown_value_text {
    width: 300px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-right: auto
}

.dropdown_list_section {
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    height: 250px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 7px;
    padding: 10px 0px;
    transition: all 0.5s ease;
}

.dropdown_list_section_hide {
    overflow-y: hidden;
    height: 0px;
    padding: 0px 0px;
}

.additional_information_li {
    user-select: none;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(223, 223, 223);
}

.dropdown_list_section::-webkit-scrollbar {
    width: 10px;
}
  
.dropdown_list_section::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
}
  
.dropdown_list_section::-webkit-scrollbar-thumb {
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: #e2e3e6;
}
  